body,html {
	font-family: 'Times New Roman', Times, serif;
	height: 100%;
	
}
.bg-img {
	/* The image used */
	background-image: url("img/a2image.jpg");
  
	/* Control the height of the image */
	min-height: 380px;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }
  
/* Add styles to the form container */
.container {
	position: absolute;
	right: 0;
	margin: 20px;
	max-width: 300px;
	padding: 16px;
	background-color: rgb(33, 209, 101);
  }

/* Full-width input fields */
input[type=text], input[type=password] {
	width: 90%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: whitesmoke;
  }
  
  input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
	background-color: rgb(225, 238, 49);
	color: black;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	font-weight: bold;
	opacity: 0.9;
  }
  
  .btn:hover {
	opacity: 1;
  }
