body {
	font-family: 'Courgette', cursive;
}
.img-responsive {
  max-width: 100%;
  position: center;
}

.a2_image{
	   background: url(a2image.jpg);
	   height: 100vh;
	   	position: relative;
		
}
.a2_wrapper {
	color:red;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.a2_wrapper h1 {
	font-size: 2.4rem;
	text-align: center;
}
.a2_wrapper span{
	margin-left: 5rem;
	display: inline-block;
	margin-bottom: .5rem;
}

.form_code {
	text-align: center;
}

.form_code .post_code {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2rem;
	padding: .6rem;
	border:none;
	outline:none;
}
.form_code .area_code {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2rem;
	padding: .6rem;
	border:none;
	outline:none;
}



.form_code button {
	width: 40%;
	text-align: center;
	background-color: #00bab1;
	color: white;
	padding: .6rem;
	margin:1rem auto 0rem;
	border: none;
	border-radius: .3rem;
}
.product {
	width: 90%;
	margin-top: .3rem;
	margin-left: auto;
	margin-right: auto;
}

.product__list__item {
	float: left;
	width: 32%;
	margin-left: .5rem;
}
